// .main {
//     padding: 1rem .5rem;
//     max-width: 1200px;
//     display: flex;
//     justify-content: space-between;
//     margin: 10px auto;
//     flex-wrap: wrap;
//     margin-bottom: 10rem;
//   }

.main {
  max-width: 1200px;
  margin: 0px auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 64px;
}
